<script>
	$(function(){
		$('.layui-btn').on('click',function(){
			var pwd=$("input[name='pwd']").val();
			var pwd1=$("input[name='pwd1']").val();
			if($("input[name='name']").val()==''){
				$.msg.error('名字不能为空',1.5);return false;
			} 
			if($("input[name='pwd']").val()==''){
				$.msg.error('密码不能为空',1.5);return false;
			} 
			if($("input[name='pwd1']").val()==''){
				$.msg.error('确认密码不能为空',1.5);return false;
			} 
			if(pwd!==pwd1){
				$.msg.error('两次输入密码不相同',1.5);return false;
			} 
		})
	})
</script>
<form class="layui-form" action="{:url('admin/admin/change_pwd')}" lay-filter="example" method="post">
	<input type="hidden" name="uid" value="{$user.id}">
  <div class="layui-form-item">
    <label class="layui-form-label">修改名字</label>
    <div class="layui-input-block">
      <input name="name" lay-verify="title" autocomplete="off" placeholder="请输入用户名" class="layui-input" type="text" value="{$user.net_name}">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">修改密码</label>
    <div class="layui-input-block">
      <input name="pwd" placeholder="请输入密码" autocomplete="off" class="layui-input" type="password">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">确认密码</label>
    <div class="layui-input-block">
      <input name="pwd1" placeholder="请输入密码" autocomplete="off" class="layui-input" type="password">
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
    </div>
  </div>
</form>
