{extend name="admin@public/base"}

{block name="css"}
<style type="text/css">
form {margin-top: 20px;}
</style>
{/block}

{block name="content"}
<form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get">
	<div class="layui-form-item layui-inline">
	    <label class="layui-form-label">ip地址</label>
	    <div class="layui-input-inline">
	        <input name="ip" value="" placeholder="请输入ip" class="layui-input">
	    </div>
	</div>

	<div class="layui-form-item layui-inline">
	    <label class="layui-form-label">所属国家</label>
	    <div class="layui-input-inline">
	        <select class="layui-select" name="country">
	            <option value="">所有国家</option>
	            {foreach ['国内','国外'] as $k=>$v}
	            <option value="{$k}">{$v}</option>
	            {/foreach}
	        </select>
	    </div>
	</div>
	<div class="layui-form-item layui-inline">
	    <label class="layui-form-label">地理信息</label>
	    <div class="layui-input-inline">
	        <input name="adr" value="" placeholder="请输入地理信息" class="layui-input">
	    </div>
	</div>
	<div class="layui-form-item layui-inline">
	    <label class="layui-form-label">访问节点</label>
	    <div class="layui-input-inline">
	        <input name="node" value="" placeholder="请输入访问节点" class="layui-input">
	    </div>
	</div>
	<div class="layui-form-item layui-inline">
	    <label class="layui-form-label">是否屏蔽</label>
	    <div class="layui-input-inline">
	        <select class="layui-select" name="forbidden">
	            <option value="">所有类型</option>
	            {foreach ['屏蔽','正常'] as $k=>$v}
	            <option value="{$k}}">{$v}</option>
	            {/foreach}
	        </select>
	    </div>
	</div>
    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary" lay-submit lay-filter="formDemo"><i class="layui-icon">&#xe615;</i> 搜 索</button>
    </div>

</form>
<table id="test" class="layui-hide"></table>
<script type="text/html" id="checkboxTpl">
  <input type="checkbox" name="lock" value="{{d.id}}" title="屏蔽" lay-filter="forbidden" {{ d.forbidden == 1 ? 'checked' : '' }}>
</script>
{/block}

{block name="script"}

<script>
layui.use('table', function(){
  var table = layui.table
  ,form = layui.form;
  
  var tableIns=table.render({
    elem: '#test'
    ,url:'{:url("table")}'
    ,cellMinWidth: 80
    ,cols: [[
      {type:'numbers'}
      ,{type: 'checkbox'}
      ,{field:'id', title:'ID', width:100, unresize: true, sort: true}
      ,{field:'ip', title:'ip地址', templet: '#usernameTpl'}
      ,{field:'adr', title:'地理信息'}
      ,{field:'isp', title:'运营商'}
      ,{field:'module', title:'访问模块'}
      ,{field:'node', title:'访问节点'}
      ,{field:'time', title:'访问次数',sort: true}      
      ,{field:'status', title:'最后访问状态'}
      ,{field:'date', title:'最后访问时间',sort: true}           
      ,{field:'forbidden', title:'是否屏蔽', width:110, templet: '#checkboxTpl', unresize: true}
    ]]
    ,page: true
  });
  
	//监听锁定操作
	form.on('checkbox(forbidden)', function(obj){
		/*var checkStatus = table.checkStatus('test');
		console.log(checkStatus.data)*/ //获取选中行的数据
		var self=this;
		$.get("{:url('forbidden')}",{id:this.value,forbidden:obj.elem.checked},function (res) {
			var msg=obj.elem.checked?'已屏蔽':'已解除屏蔽';
			layer.tips('此ip'+msg, obj.othis);
			tableIns.reload();
		});
	});

	form.on('submit(formDemo)', function(data){
		var ajaxData=JSON.stringify(data.field);
	    //layer.msg(JSON.stringify(data.field));
	    //return false;
	});

	/*$('.layui-btn').on('click',function(){
		var data={
			'ip' : $('input[name="ip"]').val(),
			'country' : $('input[name="country"]').val(),
			'adr' : $('input[name="adr"]').val(),
			'node' : $('input[name="node"]').val(),
			'forbidden' : $('input[name="forbidden"]').val(),
		}
		console.log(data)
	});*/

});

</script>
{/block}