{extend name="admin@public/base"}

{block name="css"}
<link rel="stylesheet" href="__STATIC__/admin/css/photo.css" media="all" />
{/block}
{block name="content"} 

<div class='photo'>
    <div class="bigimg" >
        <img src="#" id="im">
    </div>
    <div class="thumbs" data-page="{$currentPage}">
        <img src="__STATIC__/admin/images/prev.jpg" style="float:left;" >
        <div class="thumb"></div>
        <div class="thumb"></div>
        <div class="thumb"></div>
        <div class="thumb"></div>
        <div class="thumb"></div>
        <img src="__STATIC__/admin/images/next.jpg" style="float:right;" >
    </div> 
    <div class="delete" style="display:none">
        <form action="{:url('delete')}" method="post">
            <input type="checkbox" value="1" name="p_id[]">
            <input type="checkbox" value="1" name="p_id[]">
            <input type="checkbox" value="1" name="p_id[]">
            <input type="checkbox" value="1" name="p_id[]">
            <input type="checkbox" value="1" name="p_id[]">
            <input type="hidden" name="gid" value="{$gid}">
            <input type="submit" value="删除" id="sub" onClick="return confirm('确定要删除')" class="layui-btn">
        </form>
    </div>

    <div class="clear"></div>
</div>
    
<div class="edit">
        <span class="button">
            添加图片
        </span>
        <span class="button dropdown ">删除图片</span> 
</div>

<!-- <div class="box" >
    <form method="post" enctype="multipart/form-data" action="__CONTROLLER__/upload">
        <input type="file" name="p_img">
        <input type="hidden" name="g_id" value="{$gid}">
        <input type="submit" value="上传">
    </form>
</div> -->


<div class="layui-upload" style="margin: 20px 20%;">
    <div class="layui-upload-list">
        <table class="layui-table">
        <thead>
            <tr>
                <th>文件名</th>
                <th>大小</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="photolist"></tbody>
        </table>
    </div>
    <button type="button" class="layui-btn layui-btn-normal" id="photos">选择多文件</button> 
    <button type="button" class="layui-btn" id="uploadsAction">开始上传</button>
</div> 

{/block}

{block name="script"}
    <script>

 //多文件列表示例
  var upload=layui.upload
  ,photoListView = $('#photolist')
  ,uploadListIns = upload.render({
    elem: '#photos'
    ,url: "{:url('addphoto')}"
    ,accept: 'images'
    ,multiple: true
    ,auto: false
    ,bindAction: '#uploadsAction'
    ,data:{gid:{$gid}}
    ,field:'photo[]'
    ,choose: function(obj){   
      var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
      //读取本地文件
      obj.preview(function(index, file, result){
        var tr = $(['<tr id="upload-'+ index +'">'
          ,'<td>'+ file.name +'</td>'
          ,'<td>'+ (file.size/1014).toFixed(1) +'kb</td>'
          ,'<td>等待上传</td>'
          ,'<td>'
            ,'<button class="layui-btn layui-btn-xs demo-reload layui-hide">重传</button>'
            ,'<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
          ,'</td>'
        ,'</tr>'].join(''));
        
        //单个重传
        tr.find('.demo-reload').on('click', function(){
          obj.upload(index, file);
        });
        
        //删除
        tr.find('.demo-delete').on('click', function(){
          delete files[index]; //删除对应的文件
          tr.remove();
          uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
        });
        
        photoListView.append(tr);
      });
    }
    ,done: function(res, index, upload){
      if(res.code == 1){ //上传成功
        var tr = photoListView.find('tr#upload-'+ index)
        ,tds = tr.children();
        tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
        tds.eq(3).html(''); //清空操作
        return delete this.files[index]; //删除文件队列已经上传成功的文件
      }
      this.error(index, upload);
    }
    ,error: function(index, upload){
      var tr = photoListView.find('tr#upload-'+ index)
      ,tds = tr.children();
      tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
      tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
    }
  });




    var url="{:url('photolist')}",json={$ph|raw},gid={$gid},lastPage={$lastPage}
    </script>
    <script src="__STATIC__/admin/js/photo.js"></script>
{/block}

