
<style type="text/css">
	form {margin-top: 20px;}
	.controller-title{
		font-weight: bold;
	}
	.inputtd{text-align: center;}
</style>

<form class="layui-form" action="" autocomplete='off'>
	<div class="layui-tab layui-tab-card">
		<ul class="layui-tab-title module-title">
			{foreach $nodeData as $module => $v}
		    	<!-- <li class="layui-this">网站设置</li> -->
	    	<li>{$module}</li>
		    {/foreach}
	  	</ul>
	  	<div class="layui-tab-content" style="height: 100px;">
	  		{foreach $nodeData as $module}
		    <!-- <div class="layui-tab-item layui-show">1</div> -->
		    <div class="layui-tab-item">
				<table class="layui-table border-none" lay-skin="line">
				{foreach $module as $controller => $nodes}
					<tr>
						<td class="inputtd">
							<input type="checkbox" lay-skin="primary" name="auth" lay-filter="contr" data-node="{$controller}" value='{$controller}' title="">
						</td>
						<td class="controller-title">|— &nbsp;&nbsp;&nbsp;{$controller}</td>
						<td class="controller-title">控制器节点</td>
						
					</tr>			
					{foreach $nodes as $node}
					<tr>
						<td class="inputtd">
							<input type="checkbox" lay-skin="primary" name="auth" lay-filter="node" data-node="{$controller}" value='{$node}' title="">
						</td>
						<td>|— &nbsp;&nbsp; |— &nbsp;&nbsp;&nbsp; {$node}</td>
						<td data-node="{$node}" class="nodetitle"></td>
						
					</tr>					
					{/foreach}
				{/foreach}			

				</table>

		    </div>
		    {/foreach}
	  	</div>

	</div>
</form>

<script>
	$('.module-title').find('li')[0].click();
	//console.log($('[data-login="admin/admin/logout"]').prop('checked'));
	layui.use('form', function(){
		var form = layui.form,auth_id={$auth_id|default=''};
		//初始化数据
		var authNode = {$authNode|json_encode|raw},
		nodeInfo = {$nodeInfo|json_encode|raw};
		$('[lay-filter="node"]').each(function(index,item){
			if(authNode[item.value]!==undefined){
				item.checked = true;
			}else{
				item.checked = false;
			}
			
		})
		$('.nodetitle').each(function(index,item){
			if(nodeInfo[$(item).data('node')]!==undefined){
				$(item).html(nodeInfo[$(item).data('node')]['title']);
			}
		})		
		syncnode();

		form.on('checkbox(contr)', function(data){
			var elem = data.elem, 
			is_checked = elem.checked,
			info ={},
			nodeData=[];
			$('[data-node="'+data.value+'"]').each(function(index,item){
				item.checked = is_checked;
				if($(item).attr('lay-filter') == 'node'){
					nodeData.push(item.value)
				}
			})
			form.render('checkbox')

			info = {checked:is_checked,nodes:nodeData,auth_id:auth_id};
			var index = $.msg.loading();
            $.ajax({
                url: "{:url('apply')}", type: 'post', data: info, success: function (ret) {
                    $.msg.close(index);
                    if (ret.code !== 1) {
                        $.msg.error(ret.msg, 2);
                        var toChecked = !ret.data.checked;
						$('[data-node="'+data.value+'"]').each(function(index,item){
							item.checked = toChecked;
						})   
						form.render('checkbox');               
                    }
                }
            });
			
		})

		form.on('checkbox(node)', function(data){
			var elem = data.elem,
			type = elem.name,
			is_checked = elem.checked,
			info ={},
			contr = $(elem).attr('data-contr-'+type),
			contrDom = $('[data-contr-'+type+'="'+contr+'"][lay-filter="contr"]')[0],//当前选择的控制器节点
			brotherNode = $('[lay-filter="node"][data-contr-'+type+'="'+contr+'"][value!="'+elem.value+'"]'),//当前选择的兄弟节点
			isAllSelect = 1,
			contrAction = '';

			// if(!is_checked && contrDom.checked){
			// 	//解除全选
			// 	contrDom.checked = false;
			// 	contrAction = false;
			// }
			
			// if(is_checked){
			// 	brotherNode.each(function(index,item){
			// 		if(item.checked == false) isAllSelect = 0;//非全选
			// 	})
			// 	if(isAllSelect == 1){
			// 		//全选
			// 		contrDom.checked = true;
			// 		contrAction = true;
			// 	}
			// }
			// form.render('checkbox'); 

			syncnode();
			info = {type:type,checked:is_checked,nodes:[elem.value],auth_id:auth_id};
			var index = $.msg.loading();
            $.ajax({
                url: "{:url('apply')}", type: 'post', data: info, success: function (ret) {
                    $.msg.close(index);
                    if (ret.code !== 1) {
                        $.msg.error(ret.msg, 2);
                    	contrDom.checked = !contrAction;//还原控制器节点状态
                    	elem.checked = !is_checked;
						form.render('checkbox');         
                    }
                }
            });
		})


		//同步更新数据，识别是否全选
		function syncnode(){
			$('[lay-filter="contr"]').each(function(inde,item){
				var type=item.name,contr=item.value,isAllSelect=1,checked=item.checked;
				$('[lay-filter="node"][data-node="'+contr+'"]').each(function(i,elem){
					if(elem.checked == false) isAllSelect=0;
				})
				if(checked == true && isAllSelect==0){					
					item.checked = false;					
				}else if(checked == false && isAllSelect==1){
					item.checked=true;			
				}

			})
			form.render('checkbox'); 
		}


	});

</script>
