
<form  action="{:request()->url()}" method="post" data-auto="true"  class="layui-form" style="padding-top:30px">
	<div class="layui-form-item" pane="">
		<label class="layui-form-label">权限：</label>
		<div class="layui-input-block">
			{foreach $auths as $v}
			<input type="checkbox" name="aid[]" value='{$v.id}' lay-skin="primary" title="{$v.title}" {if in_array($v.id,$user_auths)}checked=''{/if}>
			{/foreach}
		</div>
	</div>
	<div class="button-area">
		<button class="layui-btn" type="submit">提交</button>
	</div>

</form>

<form class="layui-form" action="" autocomplete='off'>


<script>

	layui.use('form', function(){
		var form = layui.form;
		form.render();
	});

</script>
