<form  action="{:request()->url()}" method="post" data-auto="true"  class="layui-form" style="padding-top:30px">

<div class="layui-form-item">
	<label class="layui-form-label">新密码</label>
	<div class="layui-input-block">
		<input type="password" name="pwd" required  lay-verify="required" placeholder="请输入新密码" autocomplete="off" class="layui-input">
	</div>
</div>
<div class="layui-form-item">
	<label class="layui-form-label">重复密码</label>
	<div class="layui-input-block">
		<input type="password" name="pwd1" required   lay-verify="required" placeholder="请输入重复密码" autocomplete="off" class="layui-input">
	</div>
</div>
<input type="hidden" name="id" value='{$id|default=''}'>
<div class="button-area">
	<button class="layui-btn" type="submit">提交</button>
</div>

</form>