@media only screen and (min-width: 768px) {
.bigimg{ width:600px; position:relative; height:300px; margin-top:20px}
.thumbs{ width:600px; height:120px;border:#EBEBEB solid 1px; position:relative; margin-top:20px }
.thumb{width:100px;height:100px; border:#EBEBEB solid 1px; float:left; margin:10px 0px 10px 5px;background-image:url(0); background-repeat:no-repeat; background-position:center; }
.thumb:hover{cursor:pointer; border:#633 solid 1px}
.thumbs img{margin-top:10px;opacity:0.4}
.thumbs img:hover{ opacity:1; cursor:pointer}

/*相册*/
.photo{ width:630px; margin: 20px auto;}
.pgroup{ width:130px; height:130px; float:left;margin:0px 0px 30px 45px;padding-bottom:20px}
.pgroup img{border:15px #784929 solid;}
.pgroup img:hover{ cursor:pointer; border:#630 solid 15px}
.pgroup div{text-align:center;cursor:pointer; background:#784929;}
.pgroup a{color:#FFF }


.bigimg img{overflow: auto; margin: auto; position: absolute;  
			top: 0; left: 0; bottom: 0; right: 0;
}
}

@media only screen and (max-width: 768px) {
.bigimg{ width:100%; position:relative; }
.thumbs{ width:100% height:120px;border:#EBEBEB solid 1px; position:relative; margin-top:10px }
.thumb{width:44px;height:45px; border:#EBEBEB solid 1px; float:left; margin:10px 0px 10px 5px;background-image:url(0); background-repeat:no-repeat; background-position:center;background-size:100% 100% }
.thumb:hover{cursor:pointer; border:#633 solid 1px}
.thumbs img{margin-top:5px;opacity:0.4; width:20px; height:50px}
.thumbs img:hover{ opacity:1; cursor:pointer}
.main-content.col11{ border-bottom:#847542 dashed 1px; margin-bottom:200px}


/*相册*/
.photo{ width:300px; margin: 20px auto;}
.pgroup{ width:130px; height:130px; float:left;margin:0px 0px 30px 18px;padding-bottom:20px}
.pgroup img{border:15px #784929 solid;}
.pgroup img:hover{ cursor:pointer; border:#630 solid 15px}
.pgroup div{text-align:center;cursor:pointer; background:#784929;}
.pgroup a{color:#FFF }
}






